<div class="container">

    <div class="row title"><h3>Hours</h3></div>

    <div class="row">Monday:    {{ hours.mon.open }} - {{ hours.mon.close }}</div>
    <div class="row">Tuesday:   {{ hours.tue.open }} - {{ hours.tue.close }}</div>
    <div class="row">Wednesday: {{ hours.wed.open }} - {{ hours.wed.close }}</div>
    <div class="row">Thursday:  {{ hours.thu.open }} - {{ hours.thu.close }}</div>
    <div class="row">Friday:    {{ hours.fri.open }} - {{ hours.fri.close }}</div>
    <div class="row">Saturday:  {{ hours.sat.open }} - {{ hours.sat.close }}</div>
    <div class="row">Sunday:    {{ hours.sun.open }} - {{ hours.sun.close }}</div>

</div>
